body {
  margin: 0;
  height: 100vh;
}
#root {
  height: 100vh;
}
.ant-layout-sider ant-layout-sider-dark {
  min-width: 250px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
